<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>        
    <settings>        
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
		<typeAlias type="com.ware.group.approval.ApprovalVO" alias="ApprovalVO"/>
		<typeAlias type="com.ware.group.approval.ApprovalUploadFileVO" alias="ApprovalUploadFileVO"/>
		<typeAlias type="com.ware.group.approval.ApprovalHistoryVO" alias="ApprovalHistoryVO"/>
		<typeAlias type="com.ware.group.approval.ApproverVO" alias="ApproverVO"/>
		<typeAlias type="com.ware.group.approval.ApprovalInfoVO" alias="ApprovalInfoVO"/>
		<typeAlias type="com.ware.group.approval.MemberVO" alias="MemberVO"/>
		
		
	</typeAliases>     
</configuration>