<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
 <mapper namespace="com.ware.group.alim.AllimDAO">
 	
 	<select id="getAllimcount" parameterType="MemberVO" resultType="Long">
 		SELECT COUNT(id)  FROM ALLIM WHERE member_id=#{id} AND check_yn = 0
 	</select>
 	<insert id="setAllim" parameterType="AllimVO">
 		INSERT INTO ALLIM(member_id,`type`,start_date,check_yn) VALUES(#{memberId},#{type},now(),0)
 	</insert>
 	<update id="setUpdateAllim" parameterType="Long">
 		UPDATE ALLIM SET check_yn=1, check_date=now() WHERE id=#{allimId}
 	</update>
 	<select id="getAllim" parameterType="MemberVO" resultType="AllimVO">
 		SELECT *  FROM ALLIM WHERE member_id=#{id} AND check_yn = 0
 	</select>
 	
 	<select id="getRecentAllim" parameterType="MemberVO" resultType="AllimVO">
 		SELECT *  FROM ALLIM WHERE member_id=#{id} AND check_yn = 0 ORDER BY start_date LIMIT 1
 	</select>
 </mapper>