<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
 <mapper namespace="com.ware.group.approval2.ApprovalDAOs">
 	
 	
 	<sql id="search">
		<where>
			<if test="kind == 'title'">
				CONTENTS LIKE CONCAT('%',#{search},'%')
			</if>
					
			
		</where>
	</sql>
	
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
			SELECT COUNT(a.id) FROM APPROVAL a  LEFT JOIN APPROVALINFO a3 ON(a.id = a3.approval_id) WHERE `check`='승인중' AND a3.member_id=#{memberId}
			<if test="categoryId !=null">
 			AND a.category_id=#{categoryId}
 		</if>
			<!-- <include refid="search"></include> -->
	</select>
 	
 	
 	
 	
 	
 	
 	
 	<insert id="setApprovalApplication" parameterType="ApprovalVO" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO APPROVAL VALUES(#{id},#{categoryId},#{memberId},#{contents},now(),'대기',null)
 	</insert>
 	<insert id="setApprovalApplicationFileUpload" parameterType="ApprovalUploadFileVO">
 		INSERT INTO APPROVALUPLOADFILE(approval_id,name) VALUES(#{approvalId},#{name})
 	</insert>
 	<insert id="setApprovalApplicationHistory" parameterType="ApprovalHistoryVO">
 		INSERT INTO APPROVALHISTORY(approval_id,member_id,date,`check`) VALUES(#{approvalId},#{memberId},now(),#{check})
 	</insert>
 	<select id="getApprovalInfo" parameterType="ApproverVO" resultType="MemberVO">
 		SELECT * FROM MEMBER WHERE job_id=#{jobId} AND department_id = #{departmentId}
 	</select>
 	<select id="getApprover" parameterType="ApprovalVO" resultType="ApproverVO">
 		SELECT * FROM APPROVER WHERE category_id=#{categoryId} ORDER BY depth
 	</select>
 	<insert id="setApprovalInfo" parameterType="ApprovalInfoVO">
 		INSERT INTO APPROVALINFO(approval_id,member_id,date,`check`) VALUES(#{approvalId},#{memberId},now(),#{check})
 	</insert>
 	<select id="getApprovalList" resultMap="app" parameterType="Pager">
 		SELECT * FROM APPROVAL a  LEFT JOIN APPROVALINFO a3 ON(a.id = a3.approval_id) LEFT JOIN APPROVALCATEGORY ac ON(a.category_id = ac.id) WHERE `check`='승인중' AND a3.member_id=#{memberId}
 		<!-- <include refid="search"></include> -->
 		<if test="categoryId !=null">
 			AND category_id=#{categoryId}
 		</if>
 		<if test="ref !=null">
 			AND category_id=#{categoryId}
 		</if>
		ORDER BY a.ID DESC
		LIMIT #{startRow}, #{perPage}
 	</select>
 	<resultMap type="ApprovalVO" id="app">
 		<id column="id" property="id"/>
 		<result column="category_id" property="categoryId"/>
 		<result column="member_id" property="memberId"/>
 		<result column="contents" property="contents"/>
 		<result column="date" property="date"/>
 		<result column="confirm" property="confirm"/>
 		<result column="fin" property="fin"/>
 		
 		<association property="approvalInfoVO" javaType="ApprovalInfoVO">
 			<id column="id" property="id"/>
 			<result column="approval_id" property="approvalId"/>
 			<result column="member_id" property="memberId"/>
 			<result column="date" property="date"/>
 			<result column="check" property="check"/>
 		</association>
 	</resultMap>
 	<select id="getApprovalFile" parameterType="ApprovalVO" resultType="ApprovalUploadFileVO">
 		SELECT * FROM APPROVALUPLOADFILE WHERE approval_id=#{id}
 	</select>
 </mapper>