<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ware.group.member.MemberDAO">

	<select id="getMembers" resultType="MemberVO">
		select * from MEMBER
	</select>

	<select id="getMemberLogin" parameterType="MemberVO" resultMap="getLoginResult">
	select m.id as m_id, m.employee_id ,m.account_id ,m.password,m.status ,r.id as r_id, r.name as r_name  from `MEMBER` m
	inner join
	MEMBERROLE mr 
	on m.id =mr.member_id 
	INNER JOIN 
	`ROLE` r
	on mr.role_id =r.id 
	where account_id =#{accountId}
	</select>
	<resultMap type="MemberVO" id="getLoginResult">
	<id property="id" column="m_id"/>
	<result property="employeeId" column="employee_id"/>
	<result property="accountId" column="account_id"/>
	<result property="password" column="password"/>
	<result property="status" column="status"/>
	<collection property="roleVOs" javaType="List" ofType="RoleVO">
		<id property="id" column="r_id"/>
		<result property="name" column="r_name"/>
	</collection>
	</resultMap>
	
	<insert id="setMemberJoin" parameterType="MemberVO">
	<selectKey keyProperty="id" resultType="Long" order="AFTER">
	select id  from `MEMBER` where id=(SELECT MAX(id) from `MEMBER`)
	</selectKey>
	
		INSERT INTO `MEMBER`
		(employee_id,account_id,job_id
		,PASSWORD,name,birth_date,email,phone,address,reg_date,update_date,hire_date,end_date,status,department_id)
		VALUES(#{employeeId},#{accountId},#{jobId},#{password},#{name},#{birthDate},#{email},#{phone},#{address},now(),now(),#{hireDate,
		jdbcType=DATE},#{endDate, jdbcType=DATE},1,#{departmentId})
	</insert>


	<insert id="setMemberRole" parameterType="Map">
		INSERT INTO MEMBERROLE
		(role_id, member_id)
		VALUES(#{roleId}, #{memberId})
	</insert>


	<!-- select JobList -->
	<select id="getJobList" resultType="JobVO">
		select * from JOB
	</select>

	<!-- 검증 1. ID중복검사 -->
	<select id="idDuplicateCheck" resultType="MemberVO"
		parameterType="MemberVO">
		SELECT account_id FROM MEMBER WHERE account_id=#{accountId}
	</select>



</mapper>  