<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ware.group.notice.NoticeDAO">

	<sql id="search">
		<where>
			<if test="kind == 'title'">
				TITLE LIKE CONCAT('%',#{search},'%')
			</if>
			<if test="kind == 'contents'">
				CONTENTS LIKE CONCAT('%', #{search},'%')
			</if>
			<if test="kind == 'writer'">
				WRITER LIKE CONCAT('%', #{search}, '%')
			</if>		
			
		</where>
	</sql>
	
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
			SELECT COUNT(NOTICENUM) FROM NOTICE
			<include refid="search"></include>
	</select>
	
	
	<select id="getList" parameterType="Pager" resultType="NoticeVO" >
		SELECT * FROM NOTICE 
		<include refid="search"></include>
		ORDER BY NOTICENUM DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<select id="getDetail" parameterType="NoticeVO" resultMap="getDetailResult">
  		SELECT *
		FROM NOTICE
			 LEFT JOIN
			 NOTICEFILES 
			 USING(NOTICENUM) 
		WHERE NOTICENUM = #{noticeNum}
  	</select>
  	
  	<resultMap type="NoticeVO" id="getDetailResult">
		<id property="noticeNum" column="NOTICENUM"/>
		<result property="id" column="ID"/>
		<result property="title" column="TITLE"/>
		<result property="writer" column="WRITER"/>
		<result property="contents" column="CONTENTS"/>
		<result property="regDate" column="REGDATE"/>
		<result property="hit" column="HIT"/>
		
		<collection property="boardFileVOs" javaType="List" ofType="BoardFileVO">
			<id property="fileNum" column="FILENUM"/>
			<result property="fileName" column="FILENAME"/>
			<result property="oriName" column="ORINAME"/>
		</collection>
		
	</resultMap>
  	
	
	
	<insert id="setInsert" parameterType="NoticeVO" useGeneratedKeys="true" keyProperty="noticeNum">
		INSERT INTO NOTICE (NOTICENUM, ID, TITLE, CONTENTS, WRITER, REGDATE, HIT)
		VALUES( #{noticeNum} , #{id} ,#{title}, #{contents}, #{writer}, now(), 0)
	</insert>
	
	<delete id="setDelete" parameterType="NoticeVO">
  		DELETE FROM NOTICE WHERE NOTICENUM = #{noticeNum}
  	</delete>
  	
  	<insert id="setNoticeFileAdd" parameterType="BoardFileVO">
  		INSERT INTO NOTICEFILES (FILENUM,NOTICENUM, FILENAME, ORINAME)
  		VALUES(#{fileNum}, #{noticeNum}, #{fileName}, #{oriName})
  	</insert>
  	
  	<select id="getFileDetail" parameterType="BoardFileVO" resultType="BoardFileVO">
  		SELECT * FROM NOTICEFILES WHERE FILENUM = #{fileNum}
  	</select>
  	
  	<update id="setNoticeHit" parameterType="NoticeVO">
  		UPDATE NOTICE SET HIT = #{hit} + 1
		WHERE NOTICENUM = #{noticeNum}
  	</update>
</mapper>